{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 80,
    "trailingComma": "all",
    "bracketSpacing": false,
    "arrowParens": "always",
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "parser": "babel",
                "tabWidth": 4
            }
        },
        {
            "files": "*.html",
            "options": {
                "parser": "html",
                "tabWidth": 4,
                "printWidth": 80
            }
        }
    ]
}
